.table-view{
    -fx-background-color: #757575;
    -fx-border-color: #757575;
    -fx-text-color: #FFFFFF;
}
.table-view .column-header{
    -fx-background-color: #757575;
    -fx-border-color: #757575;
    -fx-font-size: 16;
    -fx-text-color: white;
}
.table-view .column-header .label{
    -fx-alignment: CENTRE_LEFT;
}
.table-view .cell{
    -fx-background-color: #757575;
    -fx-border-color: #757575;
    -fx-alignment: CENTER_LEFT;
    -fx-font-size: 15;
    -fx-font-color: white;
}
/*.text-field{
    -fx-text-inner-color: #FFFFFF;
}*/
/*.table-view .fill{
    -fx-background-color: #FFFFFF;
}*/
.table-row-cell: hover{
    /*-fx-background-color: #blue;*/
    -fx-text-background-color: blue;
}

.table-view .virtual-flow .scroll-bar: vertical,
.table-view .virtual-flow .scroll-bar: vertical .track,
.table-view .virtual-flow .scroll-bar: vertical .track-background,
.table-view .virtual-flow .scroll-bar: horizontal,
.table-view .virtual-flow .scroll-bar: horizontal .track,
.table-view .virtual-flow .scroll-bar: horizontal .track-background{
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button{
    -fx-opacity: 0;
    -fx-padding: 2;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb,
.table-view .virtual-flow .scroll-bar:horizontal .thumb{
    -fx-background-color: #424242;
}